@page "/Workings"
@using DominosStockOrder.Client.Components
@using DominosStockOrder.Client.Services
@using DominosStockOrder.Shared
@inject FoodTheoService FoodTheo

@if (FoodTheo.Loading)
{
    <div class="row">
        <p>Loading...</p>
    </div>
}
else if (!FoodTheo.Workings.Values.Any())
{
    <div class="row">
        <p>No data</p>
    </div>
}
else
{
    <div class="row">
        <div class="col-2 fw-bold">Description</div>

        @for (var i = 0; i < Constants.NumFoodTheoWeeks; ++i)
        {
            var today = DateTime.Now;
            var weekEnding = today.AddDays(-(int)today.DayOfWeek).AddDays(-7 * i);
            <div class="col fw-bold">@weekEnding.ToString("dd/MM")</div>
        }

        <div class="col fw-bold">Combined Average</div>
        <div class="col fw-bold">In Store</div>
        <div class="col fw-bold">To Order</div>
    </div>

    @foreach (var working in FoodTheo.Workings.Values)
    {
        <WorkingComponent @key="@working.PulseCode" Working="@working" />
    }
}

@code {

}
