@page "/Workings"
@using DominosStockOrder.Client.Services
@using DominosStockOrder.Shared
@using DominosStockOrder.Shared.ViewModels
@inject FoodTheoService FoodTheo

@if (FoodTheo.Loading)
{
    <div class="row">
        <p>Loading...</p>
    </div>
}
else if (!FoodTheo.Workings.Values.Any())
{
    <div class="row">
        <p>No data</p>
    </div>
}
else
{
    <div class="row">
        <div class="col-2 fw-bold">Description</div>

        @for (var i = 0; i < Constants.NumFoodTheoWeeks; ++i)
        {
            var today = DateTime.Now;
            var weekEnding = today.AddDays(-(int)today.DayOfWeek).AddDays(-7 * i);
            <div class="col fw-bold">@weekEnding.ToString("dd/MM")</div>
        }

        <div class="col fw-bold">Combined Average</div>
    </div>

    @foreach (var working in FoodTheo.Workings.Values)
    {
        var combinedAvg = working.WeeklyFoodTheo.DefaultIfEmpty(0).Average();

        <div class="row">
            <div class="col-2">@working.Description</div>

            @for (var i = 0; i < Constants.NumFoodTheoWeeks; ++i)
            {
                var content = string.Empty;

                if (i < working.WeeklyFoodTheo.Count)
                {
                    content = working.WeeklyFoodTheo[i].ToString("0.00");
                }

                <div class="col">@content</div>
            }

            <div class="col">@combinedAvg.ToString("0.00")</div>
        </div>
    }
}

@code {

}
