<ul class="nav nav-pills flex-column border rounded p-2 settings-nav sticky-top">
    <li class="nav-item">
        <NavLink class="nav-link" href="Settings/Items">Item Settings</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Settings/FoodTheo">Food Theo Settings</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Settings/CustomDates">Custom Dates</NavLink>
    </li>
</ul>

@code {

}
