@using DominosStockOrder.Shared.ViewModels
@inject HttpClient Http

@if (_orders is not null && _orders.Any())
{
    <div class="mb-3">
        <InputSelect @bind-Value="_selectedOrder" disabled="@(_orders.Count() == 1)" class="form-select">
            @foreach (var order in _orders)
            {
                <option value="@order">@order.DeliveryDate.ToString("D")</option>
            }
        </InputSelect>
    </div>

    <div class="container">
        @if (_selectedOrder is not null)
        {
            <StockOrderComponent Order=_selectedOrder />
        }
    </div>
}

@code {
    private IEnumerable<StockOrderRequestVM>? _orders = null;
    private StockOrderRequestVM? _selectedOrder = null;

    protected override async Task OnInitializedAsync()
    {
        _orders = await Http.GetFromJsonAsync<IEnumerable<StockOrderRequestVM>>("/api/PendingOrders");
         _selectedOrder = _orders?.FirstOrDefault();
    }
}
